
@{
    ViewBag.Title = "EtiketEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>EtiketEkle</h2>



<form class="form-group" method="post">
    <div>
        Etiket Adi:
        <input type="text" name="TagAdi" value="" />
    </div>
    <div>
        <button class="btn btn-info"> Ekle </button>
    </div>


</form>