
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Kategori Ekle</h2>



<form class="form-group" method="post">
    <div>
        Kategori Adi:
        <input type="text" name="KategoriAdi" value=""  />
    </div>
    <div>
        <button class="btn btn-info"> Ekle </button>
    </div>

    
</form>