
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<form class="form-group" method="post">

    <table class="table  table-dark" >
        <thead>
             <tr>
                 <td>
                     <h2> | YazarEkle</h2>
                 </td>
             </tr>
        </thead>
        <tr>
            <td>
                Yazar Adi:
            </td>
            <td>
                <input type="text" name="YazarAdi" value="" />
            </td>

        </tr>
        <tr>
            <td>
                Yazar Soyadi:
            </td>
            <td>
                <input type="text" name="YazarSoyadi" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Yazar E-Posta :
            </td>
            <td>
                <input type="text" name="YazarEposta" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Yazar Telefon :
            </td>
            <td>
                <input type="text" name="YazarTel" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Yazar Parola :
            </td>
            <td>
                <input type="text" name="YazarParola" value="" />
            </td>
        </tr>
        <tr>
            <td> </td>
            <td>
                <div>
                    <button class="btn btn-info">Yazar Ekle </button>
                </div>
             </td>
        </tr>
    </table>
    <div>
        
        
    </div>
    <div>
        
       
    </div>
    <div>
        
        
    </div>
    <div>
        
        
    </div>
    <div>
       
       
    </div>
   


</form>
