@using USportsNews.Models.Entity
@model List<Tbl_Haber>
@{
    ViewBag.Title = "Olimpiyat";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1> <img src="~/Pictures/olimpiyat.png" alt="Takimlogo Text" /> Tokyo 2020 </h1>
            @foreach (var item in Model)
            {
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="@item.HaberGorsel" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a style="color:black" href="~/@item.Tbl_Kategori.KategoriAdi/Haber/@item.HaberID">@item.HaberBaslik</a></h5>
                                <p class="card-text">@item.HaberOzet</p>
                                <p class="card-text"><small class="text-muted">@item.HaberTarih</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

